@using EntityLayer
@model List<Category>

@{

    ViewData["Title"] = "ALL CATEGORY";
    Layout = "~/Views/Shared/UserLayout.cshtml";

}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<div class="d-flex justify-content-center align-content-center text-center my-2">
    <table class="table table-bordered table-hover w-50 table-white text-dark my-3">
        <thead>
            <tr>
                <th>Category ID</th>
                <th>Category Name</th>
                <th>Category Description</th>
                <th>Category Status</th>
                <th>Category Details</th>
                <th>Category Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cat in Model)
            {
                <tr>
                    <td>@cat.CategoryId</td>
                    <td>@cat.CategoryName</td>
                    <td>@cat.CategoryDescription</td>
                    <td>@cat.CategoryStatus</td>
                    <td><a href="#" class="btn btn-outline-primary btn-lg">Details</a></td>
                    <td><a href="#" class="btn btn-outline-danger btn-lg">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

