@*@model EntityLayer.NewsLetter*@
<div  class="tech-btm">
    <h4>Mail bültenine abone ol</h4>
    <p>Yazılım ,Teknoloji ve diğer Bloglar...</p>
    <form action="/NewsLetter/subscribeMail/" method="post">
        <input type="email" placeholder="Mail" required="" name="Mail">
        <input type="submit" value="Uye Ol">
    </form>
</div>