

<div class="comment-top my-2">
    <h5 class="my-3" >Yorum yapiniz</h5>
    <div class="comment-bottom my-2">
        <form action="/Comment/PartialAddComment/" method="post">
            <div class="my-2">
                <input class="form-control" type="text" name="CommentUserName" placeholder="Name" required="" >
                <input class="form-control" type="text" name="CommentTitle" placeholder="Email" required="">

               

                <textarea class="form-control" name="CommentContent" placeholder="Yorumunuz.." required=""></textarea>
                <button type="submit" class="btn btn-primary submit">Yorum Yap...</button>

            </div>
           
        </form>
    </div>
</div>
            